//Primary Colors
$primary-01 : #F08318;
$primary-02 : #F8AD34;
$primary-03 : #F3E9EC;
$primary-04:  #FFFFFF;

//Secondary Colors
$secondary-01 : #0199A3;
$secondary-02 : #017179;
$secondary-03 : #99DBD6;

//Neutral Colors
$neutral-01 : #5F5B5B;
$neutral-02 : #B1B1B1;
$neutral-03 : #99DBD6;
$neutral-04: #F6F6F6;

$text-slider: #ADA8A8;