.button-bar-search {
  background-color: #0199a3 !important;
  height: 44.27px;
  width: 45px;
}

.input-bar-search {
  background-color: #d8d8d8;
}
.home-categorias {
  color: #5f5b5b;
  font-family: "Poppins", sans-serif;
  padding-left: 20px;
}
.home-button-categoria {
  font-size: 15px !important;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  padding: 7px 10px;
  box-shadow: -12px 11px 5px -7px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: -12px 11px 5px -7px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: -12px 11px 5px -7px rgba(0, 0, 0, 0.06);
}
.home-group-button {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  gap: 8px;
}

.pet-img {
  border-radius: 10px 10px 40px 10px;
  width: 100%;
  height: 16rem;
  object-fit: cover;
}

.protector-img {
  width: 10rem;
}

.pet-whishlist {
  background-color: white;
  padding: 0px 6px;
  position: absolute;
  border-radius: 5px;
  top: 15px;
  right: 15px;
}

.pets-wishList{
  padding: 0 5px 0 5px;
  border-radius: 5px;
  background: white;
  position:absolute;
  top: 10px;
  right: 10px;

}

.home-container{
  width: 75%;
}

@media(max-width:767px){
  .home-container{
    width: 100%;
  }
}
